:root {
  --body-bg-color: #eee0c9;
  --bg-color: #f1f0e8;
  --heading-color: #94add7;
  --option-color: #96b6c5;
  --question-color: #96b6c5;
}

body {
  background-color: var(--body-bg-color);
  padding: 5rem 10rem;
  font-family: "Open Sans", sans-serif;
}
.container-fluid {
  border-radius: 5rem;
  background-color: var(--bg-color);
  padding: 5rem 5rem;
}
.warfare-img {
  height: 20rem;
  width: 30rem;
  border-radius: 3rem;
}

hr {
  margin: 1rem 0rem;
  border: 5px dotted var(--heading-color);
  border-style: none none dotted;
  color: var(--body-bg-color);
}
.row {
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
  color: var(--heading-color);
  font-weight: 800;
  font-size: 4rem;
  text-decoration: underline;
}

h2 {
  color: var(--heading-color);
  font-weight: 600;
  font-size: 3rem;
  padding: 1.5rem;
}
h3 {
  color: var(--question-color);
  font-weight: 400;
  font-size: 2rem;
  padding: 1rem;
}
h4 {
  color: var(--option-color);
  font-weight: 300;
  font-size: 1.8rem;
  padding: 0.5rem;
}
label {
  padding-left: 1rem;
}
.personal-ul {
  margin-bottom: 1rem;
}
.btn {
  background-color: var(--heading-color);
  border-color: var(--body-bg-color);
  display: flex;
  justify-content: center;
  width: 50%;
  margin: auto;
}
.question{
 color: var(--heading-color);
  list-style-type: disc;
}

/* RESPONSIVE */

@media (max-width: 768px) {
  body{
    padding: 1rem 2rem;
  }
  .container-fluid{
    padding: 1rem 2rem;

  }
  .warfare-img {
    height: 10rem;
    width: 15rem;
    
  }
  h1{
    font-size: 2rem;
  }
  h2{
    font-size: 1.5rem;
  }
  h3{
    font-size: 1rem;
  }
  h4{
    font-size: 0.8rem;
  }
}
@media (max-width: 768px) {

  body{
    padding: 0.5rem 1rem;
  }
  .container-fluid{
    padding: 0.5rem 1rem;
    border-radius: 2rem;

  }
  .warfare-img {
    height: 5rem;
    width: 8rem;
    border-radius: 1.9rem;
    
  }
  h1{
    font-size: 1rem;
  }
  h2{
    font-size: 0.8rem;
  }
  h3{
    font-size: 0.7rem;
  }
  h4{
    font-size: 0.6rem;
  }


}
